/* =========================
   PROFILE DROPDOWN
========================= */

.profile-dropdown-container {
  position: relative;
}

.profile-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  width: 180px;
  background: #1f1f1f;
  border-radius: 8px;
}

.profile-dropdown li {
  padding: 10px 15px;
  cursor: pointer;
}

.profile-dropdown li:hover {
  background: #ff6e30;
}
