/* =========================
   CATEGORY NAV
========================= */

.category-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  background: #4b3f39;
  padding: 12px;
}

/* =========================
   GALLERY
========================= */

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.art-card {
  width: 280px;
  height: 380px;
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
}
