.mobile-icon-nav {
  display: none;
}

@media(max-width: 500px) {
  .mobile-icon-nav {
    display: none;
    position: fixed;           /*typical view of icon-nav*/
    width: 100%;
    height: 60px;
    min-width: auto;

    display: flex;
    justify-content: space-between; /*equal spacing between icons*/
    align-items: center;

    padding: 0 16px;           /*spacing from edges */
    background: #fff;
  }

  .icon-item {
    flex: 1;                   /* key line */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
  }

  .icon-item:hover {
    color: #ff8000;
  }
}

